* {
  box-sizing: border-box;
}

/* Base font configuration */
@font-face {
  font-family: "Noto Sans JP";
  src:
    local("Noto Sans JP"),
    url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

  /* Prevent text size adjustments */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  text-rendering: geometricPrecision;
}

@property --slide-writing-mode {
  syntax: "horizontal-tb | vertical-rl | vertical-lr | sideways-rl | sideways-lr";
  inherits: true;
  initial-value: horizontal-tb;
}

.slide-content {
  width: 100%;
  height: 100%;

  position: relative;

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 1.2em 1.2em;

    position: relative;

    &.center {
      display: block flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .header-and-content {
    display: block flex;
    flex-direction: column;
    max-block-size: 100%;
    max-inline-size: 100%;
    overflow: hidden;
  }

  h1 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0;
    margin-block-end: 0.2em;
  }
  ul,
  ol {
    list-style-position: outside;
    margin: 0;
    margin-block-end: 1em;
  }
  ul ul,
  ol ol {
    margin-block-end: 1em;
  }
  ul ul ul,
  ol ol ol {
    margin-block-end: 0;
  }
  p {
    margin: 0;
    margin-block-end: 0.5em;
  }

  .wm-toggle {
    @container style(--slide-writing-mode: vertical-rl) {
      /* !importantがないと上書きできない。詳細度？ */
      writing-mode: horizontal-tb !important;
    }
    @container style(--slide-writing-mode: horizontal-tb) or style(--slide-writing-mode: unset) {
      writing-mode: vertical-rl;
    }
  }

  .wm-horizontal {
    writing-mode: horizontal-tb;
  }

  .wm-vertical {
    writing-mode: vertical-rl;
  }
}
